<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chy.nepm.mapper.AqiFeedbackMapper">
	<!-- 比注解的形式多了动态拼接的方法。 -->

	<!-- SQL片段 -->
	<sql id="aqiFeedbackSelectSql">
		SELECT af.*,
		gm.gm_id gm_gm_id,
		gm.gm_name gm_gm_name,
		gm.tel
		gm_tel,
		su.tel_id su_tel_id,
		su.real_name su_real_name,
		su.sex su_sex,
		su.birthday su_birthday,
		gp.province_id gp_province_id,
		gp.province_name gp_province_name,
		gp.province_abbr gp_province_abbr,
		gc.city_id gc_city_id,
		gc.city_name gc_city_name,
		aq.aqi_id aq_aqi_id,
		aq.chinese_explain aq_chinese_explain,
		aq.color aq_color,
		aq.aqi_explain aq_aqi_explain
		FROM
		aqi_feedback af LEFT JOIN grid_member gm on af.gm_id =
		gm.gm_id
		JOIN
		supervisor su ON af.tel_id = su.tel_id
		JOIN grid_province
		gp ON
		af.province_id = gp.province_id
		JOIN grid_city gc ON af.city_id =
		gc.city_id
		JOIN aqi aq ON af.estimated_grade = aq.aqi_id
	</sql>

	<sql id="aqiFeedbackSqlWhere">
		<where>
			af.state = #{state}
			<if test="provinceId!=0">
				and af.province_id = #{provinceId}
			</if>
			<if test="cityId!=0">
				and af.city_Id = #{cityId}
			</if>
			<if test="estimatedGrade!=0">
				and af.estimated_grade = #{estimatedGrade}
			</if>
			<if test="afDate!=null and afDate!=''">
				and af.af_date =#{afDate}
			</if>
		</where>
	</sql>

	<resultMap type="AqiFeedback" id="aqiFeedbackResultMap">
		<id property="afId" column="af_id" />
		<id property="telId" column="tel_id" />
		<id property="provinceId" column="province_id" />
		<id property="cityId" column="city_id" />
		<id property="address" column="address" />
		<id property="information" column="information" />
		<id property="estimatedGrade" column="estimated_grade" />
		<id property="afDate" column="af_date" />
		<id property="afTime" column="af_time" />
		<id property="gmId" column="gm_id" />
		<id property="assignDate" column="assign_date" />
		<id property="assignTime" column="assign_time" />
		<id property="state" column="state" />
		<id property="remarks" column="remarks" />

		<association property="supervisor" javaType="Supervisor">
			<id property="telId" column="su_tel_id" />
			<id property="realName" column="su_real_name" />
			<id property="sex" column="su_sex" />
			<id property="birthday" column="su_birthday" />
		</association>

		<association property="gridProvince" javaType="GridProvince">
			<id property="provinceId" column="gp_province_id" />
			<id property="provinceName" column="gp_province_name" />
			<id property="provinceAbbr" column="gp_province_abbr" />
		</association>

		<association property="gridCity" javaType="GridCity">
			<id property="cityId" column="gc_city_id" />
			<id property="cityName" column="gc_city_name" />
		</association>

		<association property="aqi" javaType="Aqi">
			<id property="aqiId" column="aq_aqi_id" />
			<id property="color" column="aq_color" />
			<id property="chineseExplain" column="aq_chinese_explain" />
			<id property="aqiExplain" column="aq_aqi_explain" />
		</association>

		<association property="gridMember" javaType="GridMember">
			<id property="gmId" column="gm_gm_id" />
			<id property="gmName" column="gm_gm_name" />
			<id property="tel" column="gm_tel" />
		</association>

	</resultMap>

	<!-- 正常查询，多表查询体现在resultMap(返回值类型) -->
	<select id="listAqiFeedbackByTelId" parameterType="String"
		resultMap="aqiFeedbackResultMap">
		<include refid="aqiFeedbackSelectSql"></include>
		WHERE af.tel_id = #{telId}
		order by af.af_date desc, af.af_time desc
	</select>

	<select id="getAqiFeedbackCount" parameterType="AfPageRequestDto"
		resultType="int">
		select count(*) from aqi_feedback af
		<include refid="aqiFeedbackSqlWhere"></include>
	</select>


	<select id="listAqiFeedbaockPage" parameterType="AfPageRequestDto"
		resultMap="aqiFeedbackResultMap">
		<include refid="aqiFeedbackSelectSql"></include>
		<include refid="aqiFeedbackSqlWhere"></include>
		order by af.af_id desc
		limit #{beginNum},#{maxPageNum}
	</select>
	
	<select id="getAqiFeedbaockById" parameterType="int"
		resultMap="aqiFeedbackResultMap">
		<include refid="aqiFeedbackSelectSql"></include>
		where af.af_id = #{afId}
	</select>
	
</mapper>